body {
  background-color: gainsboro;
}

.App {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr auto;
  padding: 10px 0;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

// Hero

.hero-container {
  display: grid;
}

.sort-items {
  h2 {
    display: inline-block;
    float: left;
    margin: 0;
    color: #555;
  }
  div {
    float: right;
  }
  span {
    font-size: 16px;
    display: inline-block;
    color: #555;
  }
  select {
    height: 30px;
    border: 1px solid #465667;
    border-radius: 5px;
    outline: none;
  }
}

.hero-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  img {
    height: 400px;
    width: 100%;
  }
  h3, p {
    margin: 0;
    padding: 5px 0;
    color: #ebe3e3;
  }
  button {
    background: transparent;
    color: #ebe3e3;
    border: 1px solid #333;
    padding: 10px 20px;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
    &:focus, &:hover {
      background: #465667;
      color: #fff;
      border: none;
    }
  }
  div {
    padding-bottom: 5px;
    margin: 5px;
    box-shadow: 8px 10px 20px 0 rgba(46,61,73,.15);
    background-color: #465667;
    &:hover {
      box-shadow: none;
      background: #666;
      button {
        border: 1px solid rgba(235, 231, 231, 0.829);
      }
    }
  }
}

// Main

.main {
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  grid-gap: 10px;
}

.size-btn {
  display: inline-block;
  width: 200px;
  h3 {
    margin: 0;
    font-size: 25px;
    color: #555;
  }
  button {
    background: #465667;
    color: #f2f2f2;
    border: none;
    padding: 1px;
    border-radius: 50%;
    margin: 2px;
    height: 30px;
    width: 30px;
    outline: none;
    cursor: pointer;
    &:focus, &:active, &:hover {
      background: #666;
      color: #f2f2f2;
      border: none;
    }
  }
}

// Cart 

.cart {
  height: 50px;
  width: 50px;
  display: grid;
  place-items: center;
  color: #465667;
  font-size: 25px;
  position: relative;
  background: url('./products-image/cart.png') no-repeat;
}

.cart-item {
  border: 1px solid #465667;
  position: absolute;
  top: 51px;
  width: 350px;
  padding: 5px;
  right: 0;
  background: #666;
  div {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 5px;
    padding: 5px;
    border: 1px solid;
    color: #f2f2f2;
    margin: 5px;
    position: relative;
    &:hover {
      button {
        display: inline-block;
      }
    }
    button {
      position: absolute;
      top: 0;
      right: 0;
      background: transparent;
      border: none;
      font-size: 20px;
      color: #02b3e4;
      cursor: pointer;
      display: none;
    }
    h3 {
      font-size: 16px;
      font-weight: 500;
    }
    p, h5 {
      font-size: 14px;
    }
    h3, h5, p {
      padding: 1px;
      margin: 0;
    }
  }
  img {
    height: 100px;
    width: 80px;
  }
}